.page-header {
    z-index: 9;
}

.page-products__list{
	margin-bottom: 25px;
}

.paginator__item[href].active {
    color: #fff;
    border-color: #e45446;
    background-color: #e45446;
}

.status{
    margin: 10px auto;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.status.error{
	border: 2px solid #ff0000;
}

.status.success{
	border: 2px solid #008000;
}

.page-admin {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    width: 100%;    
}

.page-admin .side{
	-webkit-box-flex: 2;
	    -ms-flex: 2 0;
	        flex: 2 0;
	background-color: #efefef;
    padding: 20px 0;
}

.page-admin .main-block{
	-webkit-box-flex: 8;
	    -ms-flex: 8 0;
	        flex: 8 0;
    padding: 0px 20px;
}

.page-admin .side .menu{
	padding-left: 0;
}

.page-admin .side .menu > li{
	list-style: none;
    border-bottom: 1px solid;
    padding: 10px;
}

.page-admin .side .menu > li a{
	color: #000;
}

.page-admin .side .menu > li a:hover{
	color: #e45446;
}

.custom-form.category{
	text-align: center;
}

.custom-form.category input{
	margin-bottom: 5px;
}

.custom-form.category .custom-form__textarea{
	width: 300px;
	color: #787b7f;	
	padding: 15px 20px;
}

.page-admin .status{
	width: 300px;
    text-align: center;
}

.page-add.for-category{
    width: 735px;
}

.page-add.for-category .button{
	vertical-align: top;
}

.custom-form.editProduct label[for="product-name"] .custom-form__input-label,
.custom-form.editProduct label[for="product-price"] .custom-form__input-label{
	display: none;
}

.custom-form.settings{
	display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}
	
.custom-form.settings .h--1,
.custom-form.settings hr{
	flex: 1 0 100%;
	margin-bottom: 35px;
}

.custom-form.settings .h--1{
	font-size: 50px;
}
    
.custom-form.settings .page-add__group:last-of-type{
	border-bottom: 0px;
}

.custom-form.settings .page-add__group{
	margin-bottom: 35px;
}

.category-h1,
.category-description{
	margin-bottom: 30px;
}