.page-header {
    z-index: 9;
}

.main-menu {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.page-footer__logo {
    margin-right: 0;
}

.page-footer__menu{
	-webkit-box-flex: 2;
	    -ms-flex: 2 0;
	        flex: 2 0;	
}

.page-products__list{
	margin-bottom: 25px;
}

.paginator__item[href].active {
    color: #fff;
    border-color: #e45446;
    background-color: #e45446;
}

.main-menu--footer .main-menu__item.active{
	color: #e45446;
}

.main-menu--footer .main-menu__item {
    padding: 0 1em;
}

.status{
    margin: 10px auto;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.status.error{
	border: 2px solid #ff0000;
}

.status.success{
	border: 2px solid #008000;
}

.page-admin {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    width: 100%;    
}

.page-admin .side{
	-webkit-box-flex: 2;
	    -ms-flex: 2 0;
	        flex: 2 0;
	background-color: #efefef;
    padding: 20px 0;
}

.page-admin .main-block{
	-webkit-box-flex: 8;
	    -ms-flex: 8 0;
	        flex: 8 0;
    padding: 0px 20px;
}

.page-admin .side .menu{
	padding-left: 0;
}

.page-admin .side .menu > li{
	list-style: none;
    border-bottom: 1px solid;
    padding: 10px;
}

.page-admin .side .menu > li a{
	color: #000;
}

.page-admin .side .menu > li a:hover{
	color: #e45446;
}

.custom-form.category{
	text-align: center;
}

.custom-form.category input{
	margin-bottom: 5px;
}

.custom-form.category .custom-form__textarea{
	width: 300px;
	color: #787b7f;	
	padding: 15px 20px;
}

.page-admin .status{
	width: 300px;
    text-align: center;
}

.page-add.for-category{
    width: 735px;
}

.page-add.for-category .button{
	vertical-align: top;
}

.custom-form.editProduct label[for="product-name"] .custom-form__input-label,
.custom-form.editProduct label[for="product-price"] .custom-form__input-label{
	display: none;
}

.custom-form.settings{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}
	
.custom-form.settings .h--1,
.custom-form.settings hr{
	flex: 1 0 100%;
	margin-bottom: 35px;
}

.custom-form.settings .h--1{
	font-size: 50px;
}
    
.custom-form.settings .page-add__group:last-of-type{
	border-bottom: 0px;
}

.custom-form.settings .page-add__group{
	margin-bottom: 35px;
}

.category-h1,
.category-description{
	margin-bottom: 30px;
}

.shop__sorting-item .button{
	display: none;
	width: 100%;
}

.shop__sorting-item .button.active,
form[name="filter"] .button.active{
	display: block;
}

.custom-form.page{
	text-align: center;
} 

.custom-form.page textarea{
	width: 605px;
    margin: 10px;
    height: auto;
    min-height: 200px;
    font: inherit;
    resize: both;
}

.page-404,
.page-delivery{
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;	
}


.page-404 section{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.page-404 section > h1,
.page-404 section > p{
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
}
